<!DOCTYPE html>
<html>
<head>
      <!--Import Google Icon Font-->
      <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
      <!--Import materialize.css-->
      <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
      <!--Let browser know website is optimized for mobile-->
      <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
      <link rel="stylesheet" href="/stylesheets/gallery.css">
</head>
<body>
   <nav>
     <div class="nav-wrapper teal">
       <a href="#" class="brand-logo">Our Quirky Adventure</a>
       <ul id="nav-mobile" class="right hide-on-med-and-down">
         <li><a href="/memory">Memory</a></li>
         <li><a href="/gallery">Gallery</a></li>
         <li><a href="/upload">Upload</a></li>
         <li><a href="/logout">Logout</a></li>
       </ul>
     </div>
   </nav>
  <div class="container-fluid">
      <div class="galleria">
        {{#each data}}
            <img src="{{this.link}}">
        {{/each}}
      </div>
      <div class="row">
        <div class="col offset-m3 m6 s12">
          <h4 class="center-align"><b><i>A small gallery of our best memories!</i></b> <i class="material-icons">favorite_border</i></h4>
        </div>
      </div>
  </div>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <script src="/galleria/galleria-1.5.7.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
  <script type='text/javascript' src='/javascripts/gallery.js'></script>
</body>
</html>
