.imgContainer {
  opacity: 0;
  transition: all 2s ease-in-out;
  min-height: 603px !important;
}

.heartSpin {
  transition: all .5s ease-in-out;
}

.heartSpin:hover {
  transform: rotateY(180deg);
}
