button {
  margin: 0 auto;
  display: flex !important;
  justify-content: center;
}

#infoContainer{
  display: none;
  background-color: rgba(0,0,0,0.7);
  position: fixed;
  top: 0;
  margin: 0 !important;
  height: 100%;
  width: 100%;
  left: 0;
}

#infoContainer > div > div {
  padding: 20px;
  position: absolute;
  top: 50%;
  transform: translatey(-50%);
  background-color: white;
}
